*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/** NAVIGATION BAR**/
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* amazon logo */
.nav-logo{
    height: 50px;
    width: 113px;
    border: 1.5px solid transparent;
}
.logo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;

}

/* border for the nav-tabs */
.border:hover{
    border: 1.5px solid white
}

/* deliver to icon box */
.address{
    border: 1.5px solid transparent; 
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.add-icon{
    display: flex;
    align-items: center;
}
.deliver{
    margin-left: 16.5px;
    font-size: 0.85rem;
}
.india{
    margin-left: 3px;
    font-size: 1rem;
}

/* Search-Bar */
.nav-search{
    display: flex;
    width: 900px;
    height: 40px;
}
.nav-search:hover{
   border: 3px solid #f3a94a;
   border-radius: 6px;
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    border-right: 0.005px solid #828080ef;
    text-align:center;
    width: 50px;
    color: #5d5d61;
    font-weight: 110;
}
.search-select:hover{
    cursor: pointer;
    background-color: #dadada;
    color: #000000;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 10px;
}
.search-input{
    cursor: text;
}
.search-icon{
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 45px;
    font-size: 1.2rem;
    background-color: #f3a94a;
    color: #3e3a34;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-icon:hover{
    opacity: 0.9;
    cursor:pointer;
}

/* change language */
.nav-lang{
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-select{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
}
.lang-not-selected{
    color: #000000;
}
.lang-flag{
    height: 20px;
    width: 22px;
    background-image: url("./images/lang-ENG.png");
    background-size: cover;
}

/** sign-In box**/
.nav-signIn{
    height: 3rem;
    padding-top: 8px;
}

.nav-first{
    font-size: 0.75rem;
}
.nav-second{
    font-weight: 700;
    font-size: 0.875rem;
}

/**returns and orders box**/
.nav-returns{
    height: 3rem;
    padding-top: 8px;
}

/**cart logo**/
.nav-cart{
    display: flex;
    align-items: center;
    height: 3rem;
}
.nav-cart-logo{
    font-size: 28px;
}

/**panel**/
.panel{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #232f3e;
    color: white;    
}
.panel-icon{
    height: 19px;
    width: 50px;
    text-align: center;
    padding: 8px 9px;
    font-size: 0.875rem;
    font-weight: 700;
}
.panel-link{
    text-decoration: none;
    color: white;
    padding: 8px 9px;
    font-size: 0.875rem;
}
.panel-deals{
    position:absolute;
    right: 10px;
}
