*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
}
.nav-logo{
    height: 50px;
    width: 100px;
    border: 1.5px solid transparent;
}
.logo{
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;

}
.nav-logo:hover{
    border: 1.5px solid white
}